:root {
  --card-width: clamp(80px, 20vw, 185px);
  --card-height: clamp(120px, 30vw, 276px);
  --card-border-radius: clamp(8px, 1.5vw, 20px);
  --card-border-size: clamp(2px, 1vw, 8px);

  --pile-card-width: clamp(120px, 20vw, 185px);
  --pile-card-height: clamp(180px, 30vw, 276px);

  --lines-gap: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'bahnschriftregular';
  src:
    url('bahnschrift-webfont.woff2') format('woff2'),
    url('bahnschrift-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  font-family: 'bahnschriftregular', arial, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
